
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css" />
<link rel="stylesheet" href="https://www.academiescity.com/css/front_scss.css">
<link rel="stylesheet" href="https://www.academiescity.com/css/front.css">
<link rel="stylesheet" href="../static/std.css">


</head>
<div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ url_for('static', filename='student.png') }}">
      <div class="media-body">
        <div class="logged-user-head">
            {{name}}
        </div>
        </div>
    </div>
    <div id="sidebar">
      <ul>
        <a href="/dash/student"><li> Profile </li></a>
        </ul>
      Courses
      <ul>
          <a href="/dash/student/Book"> <li> Book a Course </li></a>
          <a href="/dash/student/Booked_courses"><li> Booked Courses </li></a>
          <a href="/dash/student/reviews"><li> Reviews Given by Me </li></a>
      </ul>
      <a href="/logout">Logout</a>
    </div>
    <p> Choose according to Instructor or Expertise</p>

    
  <div class="form-group ">
      <form method ="POST" action="">
        {{ form.hidden_tag() }}
      <div class = "col-md-3">  
        {{ form.instructor.label(class="form-control-label") }}
        {{ form.instructor(class= 'form-control') }}
      </div>  
      <div class="form-group col-md-3">
        {{ form.expertise.label(class="form-control-label") }}
        {{ form.expertise(class= 'form-control') }}
      </div>  
      <div class = 'inputfield '>
        {{ form.Search (class= "btn btn-lg btn-primary ") }}
      </div>
</form>
</div>
</div>
    
