<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Education</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.5.2/collection/components/icon/icon.min.css">
    <link rel="stylesheet" href="../static/homepage.css" />
    <link rel="stylesheet" href="../static/all.css" />
</head>
<body>
    <nav>
        <div class="container">
          <div class="logo">
            <a href="/home"
              ><img src="../static/profile_pics/logo.jpg" alt="logo" height="100%"
            /></a>
          </div>
          <div class="bars inactive" onclick="toggleBars()">
            <span></span>
            <span></span>
            <span></span>
            <hr>
          </div>
          <div class="links">
            <ul>
              <li class="main-list"><a href="/home">Home</a></li>
              <li class="main-list"><a href="/login">Login</a></li>
              <li class="main-list"><a href="#program">Programs</a></li>
              <li class="main-list"><a href="#Instructors">Instructors</a></li>

            </ul>
          </div>
        </div>
      </nav>
      <section class="all-layers">
        <div class="main-sec">
            <h1><b>Welcome to Online Education Website</b></h1>
            <h6 style="color:#ffa70c">About us</h6>
            <p >An online learning platform that provides educational services remotely.
                <br> you have many Courses of Software field and management<br> <br>
                 Best all best Weshies!
             </p>
          </div>
          <div class="need"></div>
          <img src="../static/profile_pics/intro.jpg"  alt="student image" style="width:70%;height:100%" />
          <br /><br />
        <div class="st-sec">
            <h4>Student</h4>
            <a href="/register" class="btn">Register As Student</a>
            <img src="../static/profile_pics/main-page-sign.svg" alt="sign in image"/>
        </div>
        
        <div class="admin-sec">
            <h4>Instructor</h4>
            <a href="/register-teacher" class="btn">Register As Instructor</a>
            <img src="../static/profile_pics/main-page-admin.svg" alt="as a teacher"/>
        </div>
        <div class="new-acc">
            <h4>Login</h4>
            <a href="/login" class="btn">login</a>
            <img src="../static/profile_pics/main-page-reg.svg" alt="register image"/>
        </div>       
        </section>
        
        <h1 class="midhead" id="Instructors">Learn with 200+ world-class institutions and educators</h1>

        <!--section of Instructors-->

        <section class="section ">
            <div class="section__row">
                    <h2 class="section__title">Instructors</h2>
                    <div  class="section__items">
                        
                        <div class="person-glimpse">
                            <a class="person-glimpse__media" href="#" target="_blank" tabindex="-1" aria-hidden="true">
                                <img src="../static/profile_pics/Instructor1.png">
                            </a>
                            <div class="person-glimpse__content">
                                <div class="person-glimpse__wrapper">
                                   
                                    <div class="person-glimpse__categories">
                                        <div class="category-tag-list category-tag-list--primary">
                                            <a class="category-tag" href="#" target="_blank">
                                                <span class="category-tag__title">English Language</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="person-glimpse__bio">Passionate and results-driven education leader with a proven track record of success in various academic settings.
                                         Has demonstrated the ability to inspire and empower students, teachers, and teams through curriculum development, professional growth initiatives, and academic 
                                        excellence programs. Skilled at managing complex academic and administrative responsibilities,
                                         designing tailored programs for specific needs, and fostering a dynamic, learning-centered environment.</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="person-glimpse">
                            <a class="person-glimpse__media" href="#" target="_blank" tabindex="-1" aria-hidden="true">
                                <img src="../static/profile_pics/Instructor2.png">
                            </a>
                            <div class="person-glimpse__content">
                                <div class="person-glimpse__wrapper">
                                    <a href="#" target="_blank">
                                        <h3 class="person-glimpse__title">Tamer Elfeky</h3>
                                    </a>
                                    <div class="person-glimpse__categories">
                                        <div class="category-tag-list category-tag-list--primary">
                                            <a class="category-tag" href="/p/resumes/3" target="_blank">
                                                <span class="category-tag__title">Personal Development
                                                    <br>Human Resources</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="person-glimpse__bio">As a Self-Improvement Trainer, I embarked on my career journey in the aviation industry, where I honed essential
                                         soft skills crucial for personal and professional growth. Transitioning from aviation to the realm of leadership development,
                                         I have empowered both large organizations and individuals alike to achieve their full potential through targeted training and coaching.</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="person-glimpse">
                            <a class="person-glimpse__media" href="#" target="_blank" tabindex="-1" aria-hidden="true">
                                <img src="../static/profile_pics/Instructor3.png">
                            </a>
                            <div class="person-glimpse__content">
                                <div class="person-glimpse__wrapper">
                                    <a href="/p/resumes/4" target="_blank">
                                        <h3 class="person-glimpse__title">Ms.Kamal Anis</h3>
                                    </a>
                                    <div class="person-glimpse__categories">
                                        <div class="category-tag-list category-tag-list--primary">
                                            <a class="category-tag" href="/p/resumes/4" target="_blank">
                                                <span class="category-tag__title">Economics and Statistical Web Developer</span>
                                            </a>
                                           
                                        </div>
                                    </div>
                                    <div class="person-glimpse__bio">Instructor Responsible for ensuring the efficient financial management and financial controls necessary to support all the institution activities.</div>
                                    
                                </div>
                            </div>
                            <h3 class="oneperson">Mr.Mohanned deshish</h3>
                        </div>
                        
                        <div id="more_person_btn" class="button-caesura">
                            <!--<a href="/en/persons/">More Persons</a>-->
                        </div>
                    </div>
                </div>
                </section>
    </div>
    <h1 id="program" class="midhead" style="font-size:35px;padding:50px;">Programs to get you started
        Explore courses from experienced, real-world experts.</h1>
     <!--section of program-->
    <section class="section >
      <div class="section__row">
          <h2 class="section__title">Programs</h2>
          <div  class="section__items">
              
              <a href="#" target="_blank" class="program-glimpse program-glimpse--link">
                  <div class="program-glimpse__media">
                      <img src="../static/profile_pics/photo1.jpg" class="imgprogram"
                         alt="">


                        </div>
                        <div class="program-glimpse__content">
                            <div class="program-glimpse__wrapper">
                                <p class="program-glimpse__title">Web  Project Development</p>
                                <p>Go from no-code to an in-demand senior web developer with programming skill in Python &amp; JavaScript and lead a team to develop top level projects.</p>
                            </div>
                        </div>
                    </a>
                    
                    <a href="#" target="_blank" class="program-glimpse program-glimpse--link">
                        <div class="program-glimpse__media">
                            <img src="../static/profile_pics/photo2.jpg" class="imgprogram" 
                               alt="">
                        </div>
                        <div class="program-glimpse__content">
                            <div class="program-glimpse__wrapper">
                                <p class="program-glimpse__title">Machine Learning &amp; Beyond</p>
                                <p>Machine learning focuses on the development of computer programs that can access data and use it to learn for themselves. You will acquire programming &amp; mathematical skills to develop and implement advanced algorithms.</p>
                            </div>
                        </div>
                    </a>
                    
                    <a href="#" target="_blank" class="program-glimpse program-glimpse--link">
                        <div class="program-glimpse__media">
                            <img src="../static/profile_pics/photo3.jpg" class="imgprogram"
                                   alt="">
                        </div>
                        <div class="program-glimpse__content">
                            <div class="program-glimpse__wrapper">
                                <p class="program-glimpse__title">Finance, Valuation and Trading</p>
                                <p>Finance and accounting are your first step to learn how to value a project, investment or company.  Your next step is to become a shrewd stock or options trader (not a gambler)</p>
                            </div>
                        </div>
                    </a>
                    
                    <div id="more_program_btn" class="button-caesura"> </div>
                </div>
        </section>
        <hr>
        <br>
        <div style="background-color:#02020b">
        <p style="box-shadow: inset;font-size:20px;color:white;">@ 2024 Coursera Inc. All rights reserved.</p>
        <br>
        <br>
        <br>
          <!--icon of social media-->
          <div class="icon" >
            <a href="#" aria-label="Facebook"><ion-icon name="logo-facebook" style="color:white" ></ion-icon></a>
            <a href="#" aria-label="Instagram" style="color:white"><ion-icon name="logo-instagram"></ion-icon></a>
            <a href="#" aria-label="Twitter"><ion-icon name="logo-twitter" style="color:white"></ion-icon></a>
            <a href="#" aria-label="Google"><ion-icon name="logo-google" style="color:white"></ion-icon></a>
        </div>
        <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </div>
      </body>
      </html>