<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../static/login.css" />
    <link rel="stylesheet" href="../static/all.css" />

</head>
<body>
    <nav>
        <div class="container">
          <div class="logo">
            <a href="homepage.html"
              ><img src="../static/profile_pics/logo.jpg" alt="logo" height="100%"
            /></a>
          </div>
          <div class="bars inactive" onclick="toggleBars()">
            <span></span>
            <span></span>
            <span></span>
            <hr>
          </div>
          <div class="links">
            <ul>
              <li class="main-list"><a href="homepage.html">Home</a></li>
              <li class="main-list"><a href="login-page.html">Login</a></li>
              <li class="main-list">
                <a href="register.html">Register</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="content-section ">
      <form method="POST" action="">

        <h3>Login</h3>
        {{ form.hidden_tag() }}
            <div>
                {{ form.email.label(class="form-control-label") }}
                {{ form.email(class="form-control from-control-lg input") }}
            </div>
            <div >
                {{ form.password.label(class="form-control-label") }}
                {{ form.password(class="form-control from-control-lg  input") }}
            </div>
        <div class="log">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</body>
</html>