<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Student Profile</title>
    <meta name="description" content="Student Profile Page" />
    <!--  Main Style  -->
    <link rel="stylesheet" href="../static/all.css" />
    <link rel="stylesheet" href="../static/style.css" />
    <!-- Student Profile Style-->
    <link rel="stylesheet" href="../static/student-profile.css" />
    
    <link rel="stylesheet" href="../static/homepage.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.5.2/collection/components/icon/icon.min.css">

    <style>
      .content-table th {
          padding: 20px 90px; /* Adjust the padding values as needed */
          text-align: left;
        
          
      }
      .content-table{
        width:50px;
        position:relative;
        bottom:50px;
      }

  </style>
</head>
</head>
<body>
  <nav>
    <div class="container">
      <div class="logo">
        <a href="homepage.html"
          ><img src="../static/profile_pics/logo.jpg" alt="logo" height="100%"
        /></a>
      </div>
      <div class="bars inactive" onclick="toggleBars()">
        <span></span>
        <span></span>
        <span></span>
        <hr>
      </div>
      <div class="links">
        <ul>
          <li class="main-list"><a href="/home">Home</a></li>
          <li class="main-list"><a href="/login">Login</a></li>
          <li class="main-list"><a href="#program">Programs</a></li>
          <li class="main-list"><a href="#Instructors">Instructors</a></li>

        </ul>
      </div>
    </div>
  </nav>
    <!-- Nav-Bar JS -->
    
    <h1> Student Profile </h1>
    <div class="all-layers">
      <section class="upper-layer">
        <div>
          <table class="content-table" style="padding:10px;">
            <tr >
              <th>Full Name:</th>
             
            </tr>
            <tr>
              <th>Email:</th>
             
            </tr> 
            </table>
            </div>
      </section>

      <br />

      <section>
        <div class="lower-layer">
          <div class="profile-pic">
            <img src="../static/profile_pics/profile.jpg" alt="profile Image" id="photo" />
            <input type="file" id="file" />
            <label for="file" id="upload-btn">Choose Photo</label>
          </div>
          <button id="edit" class="btn to-right-btn"
          style=" background-color:  rgb(208 149 32);"
          onclick="window.location.href='book_inst_course.html'">
            <span> Book course</span>
            <i class="fa-solid fa-angles-right"></i>
          </button>

          <button
            style=" background-color:  rgb(208 149 32);"
            id="view"
            class="btn to-right-btn"
            onclick="window.location.href='inst_all_courses.html'">
            <span>Your Book courses</span>
            <i class="fa-solid fa-angles-right"></i>
          </button>

          <button
          style=" background-color:  rgb(208 149 32);"
            id="search"
            class="btn to-down-btn"
            onclick="window.location.href='std_review.html'">
                        <span>Your reviews</span>
            <i class="fa-solid fa-angles-down fa-xs"></i>
          </button>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>